form
{

    border:black solid 2px;
    background:#3b5567;
    opacity: 0.8;
}
label, input
{
    border: black solid 1px;
    background: blanchedalmond;

}
label
{
    padding: 10 5 10 5;
}
div{
    display: flex;
}
